
body{
    background-image:url(./cs9.jpg);
    background-repeat:no-repeat;
    /* background-size:cover;
    background-size:contain; */
    background-size: 100% 100%;
    background-position: top right;
}
.login-container{
    border:2px solid black;
    width:30%;
    padding: 20px;
    border-radius:10px;
    margin:auto;
    border: none;
    background:linear-gradient(to bottom, rgb(255, 115, 0),rgba(28, 128, 0, 0.911));
}

.login-container h1,p{
    text-align: center;
}

.input-field{
    width:90%;
    padding:7px;
    margin-top:5px;
    margin-bottom:10px;
    border-radius:5px;;
}

.login-container label{
    font-weight:500;
}

.gender{
    margin-bottom:13px;
}

.checkbox span{
    color: #C47D0E;

}

.text-field{
    margin-bottom:10px ;
}

.login-container button{
     width:100%;
     padding:17px;
     border-radius:25px;
     background-color: #C47D0E;
     color:white;
     border:none;
     font-size: 20px;
}

.login a{
    color: #C47D0E;
}

.parent{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
}